/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Ubuntu&display=swap');

/* General rules */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Cabin, sans-serif;
    background-color: #dfe0e2;
    color: #071013;
    font-weight: 400;
}
/* Logo and headings */

h1, h2, h3, h4{
    font-family: Ubuntu, sans-serif;
    color:#23b5d3;
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 50px;
    margin-top: 20px;
}
/* Navigation menu */

#navbar {
    float: right;
    font-size: 125%;
    margin-right: 30px;
    margin-top: 20px;
    color: inherit;
}

#navbar li {
    display: inline;
    margin: 5px;
    list-style-type: none;
}

#navbar a {
    text-decoration: none;
    color:inherit;
}

#navbar a:hover {
    color:#23b5d3;
}