/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Ubuntu&display=swap');

/* General rules */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Cabin, sans-serif;
    background-color: #dfe0e2;
    color: #071013;
    font-weight: 400;
}
/* Logo and headings */

h1, h2, h3, h4 {
    font-family: Ubuntu, sans-serif;
    text-transform: capitalize;
}

#logo {
    float: left;
    font-size: 300%;
    margin: 20px 0 25px 75px;
    color:#23b5d3;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
/* Navigation menu */

#navbar {
    float: right;
    font-size: 125%;
    margin-right: 30px;
    margin-top: 20px;
    color: inherit;
}

#navbar, #logo {
    line-height: 75px;
}

#navbar li {
    display: inline;
    margin: 5px;
    list-style-type: none;
}

#navbar a {
    text-decoration: none;
    color:inherit;
}

#navbar a:hover {
    color:#23b5d3;
}

/* Eyecatcher and Slogan */

#eyecatcher {
    height: 600px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#background-eyecatcher {
    width: 100%;
    height: 600px;
    background: url('../images/hack4life-homepage-eyecatcher3.jpg') no-repeat center;
    background-size: cover;
}

#slogan {
    font-size: 125%;
    width: 100%;
    bottom: 25%;
    left: 10%;
    position: absolute;
}

#slogan h2{
    margin-bottom: 50px;
}

/* Intro */

#intro {
    height: 300px;
    padding-bottom: 150px;
}

#about-us {
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
}

#who-are-we {
    padding-top: 100px;
    float: left;
    margin-left: 20%;
}

#why-us {
    padding-top: 100px;
    float: right;
    margin-right: 20%;
}

#why-us, #who-are-we {
    width: 300px;
    height: auto;
    text-align: center;
    font-size: 125%;
}

#why-us h3, #who-are-we h3 {
    padding-bottom: 10px;
}

#why-us a {
    color:#23b5d3;
}

/* Top 5 images */

#top-5 {
    box-sizing: border-box;
    width: 100%;
    height: auto;
}

#top-5-heading {
    padding-bottom: 100px;
    padding-top: 50px;
    text-align: center;
    text-transform: capitalize;
}

#row-1 {
    display: flex;
    padding-bottom: 30px;
    align-items: center;
}

#row-2 {
    display: flex;
    width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.lifehack-image { 
    padding: 10px;
}

#top-5 img {
    border-radius: 8px;
    width: 100%;
    height: auto;
}

#top-5 h3{
    padding-bottom: 10px;
    text-align: center;
    text-transform: capitalize;
}

/* Videos */

#videos {
    padding-top: 50px;
    height: 800px;
    width: 100%;
}

#video-heading {
    text-align: center;
    text-transform: capitalize;
    padding-bottom: 100px;
}

#video-and-text {
    box-sizing: border-box;
}

.video-left {
    float: left;
    margin-left: 5%;
}

.video-right {
    float: right;
    margin-right: 5%;
}

.video-container {
    position: relative;
    display: block;
    width: 40%;
    height: auto;
    padding: 0% 0% 21.04%; 
    /* 21.04 % to keep the 16:9 video size relative to the width */
    margin-bottom: 25px;
}

.video-container > iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

.video-text {
    width: 40%; 
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;

}

.video-text h3 {
    padding-bottom: 10px;
}

#text-left {
    text-align: right;
}

#text-right {
    text-align: left;
}

/* Contact form */

#contact {
    height: auto;
    width: 100%;
    overflow: hidden;
    clear: both;
}

#background-contact {
    width: 100%;
    height: 600px;
    background: url('../images/contact-us-background.jpg') no-repeat center;
    background-size: cover;
}

#contact-heading {
    float: left;
    margin-top: 25px;
    margin-left: 10%;
    position: absolute;
    width: 50%;
    height: auto;
}

#contact-heading > h2 {
    margin-bottom: 50px;
}

#contact-form {
    float: right;
    margin-top: 75px;
    margin-right: 10%;
    width: 450px;
    height: 450px;
    border: 1px solid #071013;
    border-radius: 8px;
    background-color: #75abbca0;
    text-align: center;
    font-weight: bold;
}

.form-text {
    width: 80%;
    height: 25px;
    margin: 5px 10% 20px 10%;
    background-color: transparent;
    border: 1px solid #071013;
    border-radius: 8px;
}

#feedback {
    width: 80%;
    height: 150px;
    margin: 5px 10% 20px 10%;
}

#file {
    text-align: center;
    font-size: 80%;
    width: 80%;
    margin: 5px 10% 20px 10%;;
    text-align: center;
    font-weight: bold;
}

#send-button {
    text-align: center;
    padding: 10px 20px;
    font-size: 100%;
    background-color: #23b5d3;
    color: #dfe0e2;
    text-align: center;
    font-weight: bold;
    border: 1px solid #071013;
    border-radius: 2px;
    margin-top: 10px;
}

#send-button:hover {
    background-color: #dfe0e2;
    color: #23b5d3;
}

/* social medias in footer */

footer {
    height: 150px;
    background-color: #071013;
    text-align: center;
}

#social-header {
    color: #dfe0e2;
    padding: 25px 0;
}

.social-accounts {
    display: inline;
}

.social-accounts > li {
    display: inline;
    width: 20%;
    margin: auto;
}

.social-accounts i {
    font-size: 200%;
    width: 20%;
    margin: auto;
    color: #dfe0e2;
}

.social-accounts i:hover {
    color: #23b5d3;
}

/* Media Quaries */
    /* 768px screen width and down (tablet width) */

@media screen and (max-width: 768px) {
    /* Navbar and slogan */
    #navbar {
        float: left;
        line-height: 0;
        margin: 0 0 25px 75px;
    }

    #slogan {
        font-size: 100%;
    }

    /* About us section */
    #who-are-we, #why-us {
        font-size: 100%;
        width: 30%;
        margin: 0 10%;
    }
    
    /* Top 5 images section */
    #row-1, #row-2 {
        display: inline;
    }

    #top-5 img {
        width: 80%;
        margin-left: 10%;
    }

    /* Video section */
    .video-left, .video-right {
        float: left;
        clear: both;
    }
    
    #text-left, #text-right {
        text-align: center;
        width: 50%;
        margin: 0 25% 50px;
    }

    .video-container {
    width: 75%;
    height: auto;
    padding: 0% 0% 42.1875%; 
    /* 42.1875% to keep the 16:9 video size relative to the width */
    margin: 0 12.5% 50px;
    }

    /* Contact us section */
    #contact-heading {
        margin-left: 10%;
        width: 25%;
    }
    
    #contact-form {
        width: 45%;
        height: auto;
        margin-top: 50px;
    }
}

/* Media Quaries */
    /* 600px screen width and down */

 @media screen and (max-width: 600px) {
    #logo {
        margin: 25px 25% 25px 25%;
        line-height: normal;
        float: none;
        font-size: 200%;
    }

    header a {
        text-decoration: none;
    }
        
    #navbar {
        margin: 0 15% 25px;
        font-size: 100%;
        text-align: center;
        line-height: 25px;
    }
}

/* Media Quaries */
    /* 400px screen width and down */

@media screen and (max-width: 400px) {
    header a {
        text-decoration: none;}

    #slogan {
        font-size: 75%;
    }

    #about-us {
        padding-bottom: 100px;
    }

    #who-are-we, #why-us {
        font-size: 100%;
        width: 75%;
        margin: 0 12.5% 100px 12.5%;
        padding-top: 25px;
    }

    #text-left, #text-right {
        text-align: center;
        width: 75%;
        margin: 0 12.5% 50px;
    }

    #contact-heading {
        font-size: 75%;
    }
} 
