/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Ubuntu&display=swap');

/* General rules */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Cabin, sans-serif;
    background-color: #dfe0e2;
    color: #071013;
    font-weight: 400;
}
/* Logo and headings */

h1, h2, h3, h4 {
    font-family: Ubuntu, sans-serif;
}

#logo {
    float: left;
    font-size: 300%;
    margin: 20px 0 25px 75px;
    color:#23b5d3;
}
/* Navigation menu */

#navbar {
    float: right;
    font-size: 125%;
    margin-right: 30px;
    margin-top: 20px;
    color: inherit;
}

#navbar, #logo {
    line-height: 75px;
}

#navbar li {
    display: inline;
    margin: 5px;
    list-style-type: none;
}

#navbar a {
    text-decoration: none;
    color:inherit;
}

#navbar a:hover {
    color:#23b5d3;
}

/* Eyecatcher and Slogan */

#eyecatcher {
    height: 600px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#background-eyecatcher {
    width: 100%;
    height: 600px;
    background: url('../images/hack4life-homepage-eyecatcher3.jpg') no-repeat center;
    background-size: cover;
}

#slogan {
    font-size: 125%;
    text-transform: capitalize;
    width: 100%;
    bottom: 25%;
    left: 10%;
    position: absolute;
}

#slogan h2{
    margin-bottom: 50px;
}

/* Intro */

#intro {
    height: 300px;
    padding-top: 75px;
}

#who-are-we {
    float: left;
    margin-left: 20%;
}

#why-us {
    float: right;
    margin-right: 20%;
}

#why-us, #who-are-we {
    width: 300px;
    height: auto;
    text-align: center;
    font-size: 125%;
}

#why-us h3, #who-are-we h3 {
    padding-bottom: 10px;
}

#why-us a {
    color:#23b5d3;
}